<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <title>Admin Interface</title>
</head>
<body>
    <div class="contain">
        <h1>Add New Food Item</h1>
        <form action="/admin/add" method="post">
            <input type="text" id="name" name="name" placeholder="Name Of The Food Item" required><br>

            <input type="text" id="image" name="image" placeholder="Image URL" required><br>

            <input type="number" id="price" name="price" placeholder="Price Of Item" required><br>

            <input type="text" id="tags" name="tags" placeholder="Tags (,) Separated" required><br>

            <input type="text" id="category" name="category" placeholder="Category Of Item" required><br>

            <input type="submit" id="sub-btn" value="Add Food Item">
        </form>
        <h1>Added Items :</h1>
        <div class="cart-items">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                  </tr>
                  <% foodItems.forEach(item => { %>
                  <tr>
                    <td><%= item.name %></td>
                    <td>Rs <%= item.price %></td>
                  </tr>
                  <% }) %>
            </table>
        </div>
    </div>
</body>
</html>
