:root{
    --primary-background : #E6DFCE;
    --secondary-background : white;
    --navbar-background: #F1D6BB;
    --primary-font-color : #81523F;
    --primary-border-color : #81523F;
    --primary-font: "Protest Riot", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    background-color: var(--primary-background);
}
body>h1{
    margin: 20px;
    text-align: center;
    width: 100%;
}
.navbar-up{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--navbar-background);
    height: 75px;
    padding: 0px 10px;
    border-bottom: 2px solid #81523F;
}
.navbar-up h1{
    font-family: var(--primary-font);
    color: var(--primary-font-color);
}
.search-box{
    height: 40px;
    max-width: 500px;
    width: 50vw;
    min-width: 100px;
    border: 2px solid var(--primary-border-color);
    border-radius: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: var(--secondary-background);
}
.search-box input{
    height: 100%;
    width: calc(100% - 32px);
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
}
.search-box input::placeholder{
    font-size: 17px;
}
.search-box button{
    background-color: transparent;
    border: none;
    margin-right: 10px;
    overflow: visible;
    /* filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.493)); */
    transition: 0.1s ease;
}
.search-box button:hover{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
    border: 2px solid var(--primary-border-color);
    border-radius: 30px;
    padding: 5px 10px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.user img{
    height: 50px;
    border-radius: 25px;
}
.navbar-up>i{
    font-size: 20px;
}
.navbar-down{
    display: none;
    height: 40px;
    width: 100vw;
    border-top: 2.5px solid var(--primary-border-color);
    border-bottom: 2.5px solid var(--primary-border-color);
    border-right: 2.5px solid var(--primary-border-color);
    background-color: var(--navbar-background);
}
.navbar-down>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    list-style-type: none;
    height: 100%;
}
.navbar-down>ul>li{
    border-left: 2.5px solid var(--primary-border-color);
    height: 100%;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logout{
    /* height: 40px; */
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: var(--primary-font-color);
    border-radius: 10px;
    transition: 0.3s ease;
}
#logout:hover{
    transform: scale(1.1);
}
#cart{
    transition: 0.3s ease;
}
#cart:hover{
    transform: scale(1.1);
}
.menu{
    width: 80%;
    margin: 10px auto;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three equal columns */
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 3px solid var(--primary-border-color);
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    background-color: var(--navbar-background);
    /* width: min-content; */
    margin-bottom: 20px;
    margin-left: 10px;
    transition: 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
}
.card > img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
}
.card .des{
    /* height: 250px; */
    padding: 20px 0px;
    /* position: relative; */
    width: 100%;
}
.card .des > h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #81523F;
}
.card .des > p{
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}
.card .des > form{
    /* position: absolute; */
    width: 80%;
    bottom: 10px;
    margin: 0px auto;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}
.card .des > form > button{
    width: 100% ;
    padding: 5px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid #81523F;
    transition: 0.3s ease;
}
.card .des > form > button:hover{
    background-color: #81523F;
    color: white;
}
.quantity-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quantity-wrapper > button{
    padding: 5px;
    width: 30%;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--primary-border-color);
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.3s ease;
}
.quantity-wrapper > button:hover{
    transform: scale(1.2);
}
.quantity-wrapper > input{
    padding: 5px;
    text-align: center;
    width: 30%;
    font-size: 20px;
    font-weight: 500;
    border:2px solid var(--primary-border-color);
    border-radius: 10px;
}
@media (max-width: 1250px) {
    .navbar-up{
        flex-direction: column;
        gap: 8px;
        padding-bottom: 15px;
        height: min-content;
    }
    .menu {
        grid-template-columns: repeat(3, 1fr); /* Two columns for smaller devices */
    }
}
@media (max-width: 768px) {
    .menu {
        grid-template-columns: repeat(2, 1fr); /* Two columns for smaller devices */
    }
    .card .des > h3{
        font-size: 25px;
    }
}
@media (max-width: 500px) {
    .menu{
        width: calc(100vw - 20px);
        margin: 10px 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Three equal columns */
        gap: 5px;
    }
    body>h1{
        font-size: 20px;
        width: max-content;
        margin: 20px auto;
    }
    .card{
        padding: 2px;
        min-height: min-content;
    }
    .card:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
    }
    .card .des{
        height: 160px;
        padding: 5px;
        position: unset;
        width: 100%;
    }
    .card .des > h3{
        font-size: 20px;
        margin-bottom: 10px;
        text-decoration: underline;
        color: #81523F;
    }
    .card .des > p{
        font-size: 18px;
        margin-bottom: 10px;
        width: 100%;
    }
    .quantity-wrapper{
        transform: scale(0.8);
    }
    .card .des > form{
        position: unset;
        left: unset;
        transform: unset;
        margin: 0px auto;
    }
    .card .des > form > button{
        transform: scale(0.8);
    }
}